<div id="<%= dom_id item %>" class="card mb-3">
  <div class="row g-0", style="height: 150px">
    <div class="col-md-3">
      <%= image_tag item.image.url, size:"250x150", class:"rounded-start" %>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h3 class="card-title fw-bold"><%= link_to item.name, item %></h3>
        <div class="card-text item-description"><%= item.description %></div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-text fs-1 fw-bold text-end pe-4"><%= item.price %>$</div>
    </div>
  </div>
</div>