<div class="d-flex justify-content-between border">
  <%= image_tag @item.image.url, size:"750x450" %>
  <div class="d-flex flex-column justify-content-between w-100 border">
    <div>
      <h1 class="card-title fw-bold p-4"><%= @item.name %></h1>
      <div class="card-text ps-4 pb-2 fst-italic"><%= @item.category %></div>
      <div class="card-text item-description-l ps-4"><%= @item.description %></div>
    </div>
    <div class="card-text fs-1 fw-bold text-end pe-4"><%= @item.price %>$</div>
  </div>
</div>


<div>
  <%= link_to "Back to items", items_path %>
  <% if @item.user == current_user %>
    | <%= link_to "Edit this item", edit_item_path(@item) %> |
    <%= link_to "Destroy this item", @item, method: :delete, data: { confirm: 'Are you sure?', turbo_method: :delete } %>
  <% end %>
</div>
